body {
  background-image: url("https://raw.githubusercontent.com/lavatee/facepalm/refs/heads/main/img/Frame%2034.png");
  background-attachment: fixed;
}

div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

ul {
  padding: 0;
}

.chosenPage {
  margin-top: 30px;
  position: relative; /* Необходимо для позиционирования псевдоэлемента */
  display: inline-block; /* Чтобы подчеркивание не занимало всю ширину строки */
  padding-bottom: 15px; /* Компенсирует высоту подчеркивания, чтобы текст не налезал на него */
}

.chosenPage::after {
  content: '';
  position: absolute;
  left: -25%;
  bottom: 0; /* Размещаем псевдоэлемент внизу */
  width: 150%;
  height: 7px; /* Толщина подчеркивания */
  background-color: white; /* Цвет подчеркивания */
  border-radius: 5px; /* Закругляем концы */
}

li {
  list-style: none;
  margin-top: 2vh;
  width: 60vw;
  max-width: 500px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  place-items: center;
}
.chatMessage {
  border-radius: 30px 30px 30px 0px;
  margin-left: -7vw;
  text-align: start;
  padding: 2px 15px 2px 20px;
  margin-top: 1.5vh;
}
.userMessage {
  border-radius: 30px 30px 0px 30px;
  background-color: #B57BDC;
  margin-left: 14vw;
  text-align: end;
  padding: 2px 15px 2px 20px;
  margin-top: 1.4vh;
}
.profile {
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  padding-bottom: 18px;
  width: 80vw;
  left: 10vw;
  border-radius: 30px;
}

h1 {
  font-family: "Jost", serif;
  color: white;
  max-width: 90vw;
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 1);
}
p {
  font-family: "Jost", serif;
  color: white;
  width: 60vw;
  max-width: 420px;
  text-align: center;
  overflow-wrap: break-word;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.8);
}
h2 {
  font-family: "Jost", serif;
  color: white;
  max-width: 70vw;
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 1);
}
h3 {
  font-family: "Jost", serif;
  color: white;
  max-width: 70vw;
  overflow-wrap: break-word;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 1);
  text-align: center;
}
h4 {
  font-family: "Jost", serif;
  color: white;
  max-width: 40vw;
  overflow-wrap: break-word;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 1);
}
b {
  font-family: "Jost", serif;
  color: white;
  max-width: 80vw;
  text-align: center;
}
button {
  font-family: "Jost", serif;
  color: white;
  background-color: #B57BDC;
  text-align: center;
  margin-top: 1vh;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33vw;
  max-width: 200px;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.7);
}
input {
  background-color: #050505;
  color: white;
  width: 60vw;
  max-width: 200px;
  padding: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(40px);
  border: none;
  outline: none;
}
select {
  background-color: #050505;
  color: white;
  width: 60vw;
  max-width: 200px;
  padding: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(40px);
  border: none;
  outline: none;
}

input::placeholder {
  color: #545454;
}
textarea {
  margin-top: 2vh;
  background-color: #050505;
  color: white;
  width: 80vw;
  max-width: 400px;
  height: 30vh;
  padding: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(40px);
  border: none;
  outline: none;
}